<html>
    <head>
        <title>David's Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">1st Post: Welcome!</a></h2>
            <p>This is David's first (via the excellent instruction and help from Django Girls Blog) blog post from a DB created during a tutorial.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Per Jane's Addiction: "HERE WE GO!"</a></h2>
            <p>For my second trick...</p>
        </div>
    </body>
</html>
